table {
    --mat-table-row-item-container-height: 0;

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead th {
        background-color: $surface;
        font-weight: $text-weight-lg;
        padding: $spacing-sm;
        text-align: center;
    }

    th,
    td {
        border: 1px solid $border-color;
        padding: $spacing-sm;
    }

    tr:nth-child(even) {
        background-color: lighten($surface, 2%);
    }
}
