@import 'app/styles/variables';
@import 'app/styles/table';
@import 'app/styles/pagination';
@import 'app/styles/input';
@import 'app/styles/select';
@import 'app/styles/heading';
@import 'app/styles/card';
@import 'app/styles/button';

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @TODO: Add custom theming styles to correct color issues
